<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta.ejs') %>

	<body>
		<div class="site-wrap">
			<%- include('partials/nav.ejs') %>
				<!--  -->
				<div class="site-blocks-cover inner-page overlay" style="background-image: url(images/careers.png)"
					data-aos="fade" data-stellar-background-ratio="0.5">
					<div class="container">
						<div class="row align-items-center justify-content-center">
							<div class="col-md-7 text-center">
								<h1 class="mb-5">Careers <strong></strong></h1>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-12 pr-md-5 order-md-1 mt-5">
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Job Postings
							</h2>
							<h5 class="mb-2 text-black">
								CNC Operator
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Operating CNC machines to perform tasks such as drilling, grinding, milling, etc.
								</li>
								<li>Understanding specifications of the task at hand and the desired result by reading
									blueprints and mechanical drawings</li>
								<li>Translating instructions into computer commands so the machines can perform the
									correct function.</li>
								<li>Prepare and load raw materials and parts onto the machines</li>
								<li>Prepare a test run to check if the machines produce outputs according to
									specifications.</li>
								<li>Supervise the machines while they execute the tasks and make any necessary
									adjustments to produce a better result.</li>
								<li>Inspect and measure finished products and compare them with requirements to
									determine if the process has been completed properly.</li>
								<li>Perform job duties safely and accurately as to maintain quality standards</li>
								<li>Keep work area clean and free of hazards</li>
							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							<br>

							<h5 class="mb-2 text-black">
								CNC Set-Up
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Sets up and operate a variety of manual machines, such as mills, lathes, surface
									grinders, etc.
								</li>
								<li>Perform assembly and disassembly of fixtures, dies, templates, molds, etc.
								</li>
								<li>Work from blueprints, sketches, verbal and written instructions
								</li>
								<li>Fabricates parts from start to finish using a variety of machines
								</li>
								<li>Verify quality of work to specifications using standard inspection equipment</li>
							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							<br>
							<h5 class="mb-2 text-black">
								CNC Programmer
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Read engineering drawings and determine applicable procedures to make or modify
									parts as required </li>
								<li>Complete required work to drawing specifications while minimizing scrap material
								</li>
								<li>Program AGM’s CNC Machinery to produce parts to drawing specifications</li>
								<li>Coordinate with the Machine Shop Manager on producing tooling, jigs or fixtures for
									use in the Machine Shop, Production Department and any other applicable departments
								</li>
								<li>Discuss methods to improve manufacturing procedures or increase production
									efficiencies with the Machine Shop Manager and other Managers
								</li>
								<li>Setup and operate all machinery in accordance with Company safety procedures
									including the use of personal protective equipment
								</li>
								<li>Assist machinists in troubleshooting and correcting setups and existing programs
								</li>
								<li>Perform preventative maintenance and minor repairs on all shop equipment and
									maintain all safety devices </li>
								<li>Inform Machine Shop Manager of major maintenance needs or safety deficiencies as
									soon as possible </li>
								<li>Follow AGM’s Quality Management System processes and procedures </li>
								<li>Other duties may be assigned by a Manager/Supervisor in other areas or departments
									as needed</li>
							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							<br>
							<h5 class="mb-2 text-black">
								Precision Deburr and Assembly
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Deburr and clean product per manufacturing specs.
								</li>
								<li>Assist other departments when needed</li>

							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							<br>
							<h5 class="mb-2 text-black">
								Press Operator
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Operates press under the supervision of the press lead. </li>
								<li>Periodically inspects work to ensure it is in tolerance. </li>
								<li>Reviews his work with the Lead Man to ensure that he is performing the job correctly
									and that all job requirements are maintained.</li>
								<li>Seeks to understand correct setup and operation of all machinery to which he is
									assigned. </li>
								<li> Maintains clean and safe working areas. (This applies not just to the employee’s
									primary area, but to any other area in which he may be working.</li>
								<li>Follows all safety rules. Positively encourages others to follow correct procedures
									and to maintain a safe working environment. </li>
								<li>May go to the tool room attendant to obtain the correct consumables and tools if
									assigned by the lead man. Maintains all tools and consumables to extend their
									working life.
								</li>
								<li>Gives job lead feedback as to conditions or issues that will have an impact on the
									job.</li>
								<li>Seeks to be as knowledgeable as possible of all shop machinery and tools.</li>
								<li>Seeks to be as knowledgeable as possible with fabrication processes, metal alloys
									and properties and relates that knowledge to assigned jobs. </li>
							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							<br>
							<h5 class="mb-2 text-black">
								Diesel Particulate Filter (DPF) Technician
							</h5>
							<p>
								<strong>Job Description :</strong>
							<ul>
								<li>Perform basic dimensional and visual inspection of parts
								</li>
								<li>Clean diesel particulate filters with a high-pressure hose.
								</li>
								<li>Operate an oven, to loosen the soot on the DPF
								</li>
								<li>Uses various measuring devices to ensure compliance with specifications
								</li>
								<li>Prepare and maintain required inspection records
								</li>
								<li>Perform daily housekeeping responsibilities
								</li>
								<li>Report quality issues immediately and follow established escalation model</li>
							</ul>
							</p>
							<a href="#applynow" class="btn btn-primary mb-5 ml-3 px-4">Apply</a>
							
							<br>
						</div>
					</div>
				</div>


				<div class="site-section bg-light" id="applynow">
					<div class="container">
						<div class="row">
							<div class="col-md-12 mb-5" data-aos="fade">
								<div
								class="alert alert-warning alert-dismissible collapse"
								id="formAlert"
								role="alert"
							  >
								<!-- <button
								  type="button"
								  class="close"
								  data-dismiss="alert"
								  aria-label="Close"
								>
								  <span aria-hidden="true">&times;</span>
								</button> -->
							  </div>
								<form method="post" class="p-5 bg-white" enctype="multipart/form-data" action="/applynow"
									role="form" name="myForm" id="myForm" onsubmit="return(validateCareersForm());">
									<label class="font-weight-bold" for="company">Full Name</label>
									<div class="row form-group">


										<div class="col-md-6 form-group" >

											<input name="fname" type="text" class="form-control"
												placeholder="First Name" />
										</div>
										<div class="col-md-6 form-group">
											<input name="lname" type="text" class="form-control"
												placeholder="Last Name" />
										</div>

									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label class="font-weight-bold" for="email">Email</label>
											<input type="email" id="email" name="email" class="form-control"
												placeholder="Email Address" />
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label class="font-weight-bold" for="company">Phone</label>
											<input type="text" id="phone" name="phone" class="form-control"
												placeholder="Phone Number" />
										</div>
									</div>
									<div class="row form-group">
										<div class="col-md-12">
											<label class="font-weight-bold" for="company">Position</label>
											<select name="position" type="select" class="form-control">
												<option value="">Select Position</option>
												<option value="CNC Operator">CNC Operator</option>

												<option value="CNC Set-Up">CNC Set-Up</option>

												<option value="CNC Programmer">CNC Programmer</option>

												<option value="Precision Deburr and Assembly">Precision Deburr and
													Assembly</option>

												<option value="Press Operator">Press Operator</option>

												<option value="Diesel Particulate Filter (DPF) Technician">Diesel
													Particulate Filter (DPF) Technician</option>


											</select>
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label class="font-weight-bold" for="company">Resume</label>
											<div class="form-group">
												<input type="file" name="resume" placeholder="Your Resume" />
											</div>
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<div class="g-recaptcha" data-sitekey="6LcziD4eAAAAAFT-PBPgmlJuNjlSX3FJUe7Dnpw_"></div>	
										</div>
									</div>
									<div class="row form-group">
										<div class="col-md-12">
											<input type="submit"  value="Send" class="btn btn-primary submit-btn" />
										</div>
									</div>
									<% if (alert === true) { %>
										<script
										type="text/javascript"
										src="https://cdn.jsdelivr.net/npm/toastify-js"
									  ></script>
										<% if (error === true) { %>
											<script>
												Toastify({
													text: "Email Could not be sent",
													duration: 6000,
													destination: "https://github.com/apvarun/toastify-js",
													newWindow: true,
													close: true,
													gravity: "top", // `top` or `bottom`
													position: 'center', // `left`, `center` or `right`
													backgroundColor: "linear-gradient(to right, #EC7403, #E40D0D)",
													stopOnFocus: true, // Prevents dismissing of toast on hover
													onClick: function () { } // Callback after click
												  }).showToast();
												</script>
										<% } else { %>
											<script>
												Toastify({
													text: "Email Sent",
													duration: 6000,
													destination: "https://github.com/apvarun/toastify-js",
													newWindow: true,
													close: true,
													gravity: "top", // `top` or `bottom`
													position: 'center', // `left`, `center` or `right`
													backgroundColor: "linear-gradient(to right, #0B531D, #063016)",
													stopOnFocus: true, // Prevents dismissing of toast on hover
													onClick: function () { } // Callback after click
												  }).showToast();
												</script>
										<% } %>
									
									<% } %>
								</form>
							</div>


						</div>
					</div>
				</div>
				<%- include('partials/footer.ejs') %>
		</div>
		<!-- recaptcha v2 -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<%- include('partials/emailscripts.ejs') %>
		<%- include('partials/scripts.ejs') %>
	</body>

</html>