<!DOCTYPE html>
<html lang="en">
	<%- include('partials/meta.ejs') %>
	<body>
		<div class="site-wrap">
			<%- include('partials/nav.ejs') %>
			<!--  -->
			<% if (alert === true) { %>
				<script
				type="text/javascript"
				src="https://cdn.jsdelivr.net/npm/toastify-js"
			  ></script>
				<% if (error === true) { %>
					<script>
						Toastify({
							text: "Email Could not be sent",
							duration: 3000,
							destination: "https://github.com/apvarun/toastify-js",
							newWindow: true,
							close: true,
							gravity: "top", // `top` or `bottom`
							position: 'center', // `left`, `center` or `right`
							backgroundColor: "linear-gradient(to right, #EC7403, #E40D0D)",
							stopOnFocus: true, // Prevents dismissing of toast on hover
							onClick: function () { } // Callback after click
						  }).showToast();
						</script>
				<% } else { %>
					<script>
						Toastify({
							text: "Email Sent",
							duration: 3000,
							destination: "https://github.com/apvarun/toastify-js",
							newWindow: true,
							close: true,
							gravity: "top", // `top` or `bottom`
							position: 'center', // `left`, `center` or `right`
							backgroundColor: "linear-gradient(to right, #0B531D, #063016)",
							stopOnFocus: true, // Prevents dismissing of toast on hover
							onClick: function () { } // Callback after click
						  }).showToast();
						</script>
				<% } %>
			
			<% } %>
			<div
				class="site-blocks-cover inner-page overlay"
				style="background-image: url(images/contact.jpg)"
				data-aos="fade"
				data-stellar-background-ratio="0.5"
			>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 text-center">
							<h1 class="mb-5">Get <strong>In Touch</strong></h1>
						</div>
					</div>
				</div>
			</div>
			<div class="site-section bg-light">
				<div class="container">
					<div
					class="alert alert-warning alert-dismissible collapse"
					id="formAlert"
					role="alert"
				  >
					<!-- <button
					  type="button"
					  class="close"
					  data-dismiss="alert"
					  aria-label="Close"
					>
					  <span aria-hidden="true">&times;</span>
					</button> -->
				  </div>
					<div class="row">

						<div class="col-md-12 col-lg-8 mb-5">
							<form method="post" class="p-5 bg-white" action="/contactus"
							role="form" name="myForm" id="myForm" onsubmit="return(validate());">
								<div class="row form-group">
									<div class="col-md-12 mb-3 mb-md-0">
										<label class="font-weight-bold" for="fullname"
											>Full Name</label
										>
										<input
											type="text"
											id="fullname"
											name="fname"
											class="form-control"
											placeholder="Full Name"
										/>
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<label class="font-weight-bold" for="company">Company</label>
										<input
											type="text"
											name="company"
											id="company"
											class="form-control"
											placeholder="Company Name"
										/>
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<label class="font-weight-bold" for="email">Email</label>
										<input
											type="email"
											name="email"
											id="email"
											class="form-control"
											placeholder="Email Address"
										/>
									</div>
								</div>


								<div class="row form-group">
									<div class="col-md-12">
										<label class="font-weight-bold" for="message"
											>Message</label
										>
										<textarea
											name="message"
											id="message"
											cols="30"
											rows="5"
											class="form-control"
											placeholder="Say hello to us"
										></textarea>
									</div>
								</div>

								<div class="row form-group">
									<div class="col-md-12">
										<input type="submit" value="Send" class="btn btn-primary" />
									</div>
								</div>
							</form>
						</div>

						<div class="col-lg-4">
							<div class="p-4 mb-3 bg-white">
								<h3 class="h5 text-black mb-3">Contact Info</h3>
								<p class="mb-0 font-weight-bold">Address</p>
								<p class="mb-4">
									<b>Desert Engineering Group, Inc.</b><br />
									3162 East 46th Street,<br />
									Tucson Arizona 85713 <br/>
								</p>

								<p class="mb-0 font-weight-bold">Phone</p>
								<p class="mb-4"><a href="#">(520) 882-7363</a></p>
								<p class="mb-0 font-weight-bold">Fax</p>
								<p class="mb-4"><a href="#">(520) 623-6860</a></p>
							</div>

							<!-- <div class="p-4 mb-3 bg-white">
								<h3 class="h5 text-black mb-3">More Info</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
									ad iure porro mollitia architecto hic consequuntur. Distinctio
									nisi perferendis dolore, ipsa consectetur? Fugiat quaerat eos
									qui, libero neque sed nulla.
								</p>
								<p>
									<a href="#" class="btn btn-primary px-4 py-2 text-white"
										>Learn More</a
									>
								</p>
							</div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="promo py-5 bg-primary" data-aos="fade">
				<div class="container text-center">
					<h2 class="d-block mb-0 font-weight-light text-white">
						<a href="#" class="text-white d-block">Visit Our Office</a>
					</h2>
				</div>
			</div>


			<div
				class="site-blocks-cover inner-page overlay"
				style="background-image: url(images/about_us.jpeg)"
				data-aos="fade"
				data-stellar-background-ratio="0.5"
			>
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 text-center">
							<h1 class="mb-5">About <strong>Us</strong></h1>
						</div>
					</div>
				</div>
			</div>
			<div class="site-section">
				<div class="container">
					<div class="row">
						<!-- <div
							class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2"
							style="background-image: url('images/img_1_colored.jpg')"
							data-aos="fade-up"
						></div> -->
						<div class="col-md-12 pr-md-5 order-md-1">
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								History/Overview of <strong>Desert Engineering</strong>
							</h2>
							<p class="mb-4">
								Desert Engineering was founded in 1976 and was incorporated in
								1991 as an S-Corporation. The business has grown steadily adding
								machines and skilled operators to become a full service
								precision machine shop and manufacturing facility, machining and
								producing products for the military and aerospace industry, as
								well as the private sector. Desert Engineering is a preferred
								vendor to a major defense contractor and has achieved AS9100
								certification, meeting the specifications and high standards of
								the aerospace industry.
							</p>
							<p class="mb-4">
								Our motto has always been: We will meet our customer’s product
								requirements and exceed our customer’s performance expectations.
							</p>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Products & Services
							</h2>
							<p class="mb-4">
								The company has evolved into a leading manufacturing and supply
								source of high quality engineered products and solutions for:
							</p>
							<ul class="site-block-check">
								<li>Precision CNC machining</li>
								<li>Punch Press work</li>
								<li>Cold forming and stamping</li>
								<li>
									Certified to Mil-Spec MIL-1-45208A and Calibration system
									MIL-STD-45662A
								</li>
							</ul>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Machinery & Equipment
							</h2>
							<p class="mb-4">
								Ranges from various presses, and grinding equipment to
								state-of-the-art high precision CNC machines. The equipment has
								been certified to guarantee precision machining, employees are
								hired with experience and we train them to DEG’s standards. All
								equipment is maintained by our staff and an outside source. A
								detailed equipment list is included at the end of the report.
							</p>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Facilities
							</h2>
							<p class="mb-4">
								The business property comprises five industrial buildings
								situated on a 45,600 s.f. lot, approximately 1.05 acres. The
								property has chain link fencing, 8 covered parking spaces and
								several open spaces. The main building is located at 3162 E.
								46th Street and totals 10,013 s.f. w/ an additional 2,140 s.f.
								used as office space. The second manufacturing building is
								located at 3150 E. 46th Street and totals 4,480 s.f. w/ an
								additional 1,000 s.f. used as office space. Desert Engineering
								products are manufactured in these buildings. A third building
								is located at 3202 E. 46th Street and totals 2,566 s.f. w/ an
								additional 1,021 s.f. of office space and is primarily used as a
								warehouse, as well as the 1,308 s.f. building directly behind.
								Another smaller building south of the main facility and located
								at 3155 E. 47th Street is a freestanding building and could be
								utilized independent of the other operation. It is approximately
								1,134 s.f. of office and work space, which is currently being
								used for storage.
							</p>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Management & Staff
							</h2>
							<p class="mb-4">
								There are 18 key employees, summarized as follows: CNC
								Engineers, Quality Control, Tool Room and Maintenance,
								Administrative and Accounting. The motivated and skilled staff
								provides expert service and support to promote long-term
								relationships with vendors and clients. From design inception to
								manufacturing and delivery, they assure delivery of the highest
								quality products to the customers. Our machinists average more
								than 15 years of experience.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="promo py-5 bg-primary" data-aos="fade">
				<div class="container text-center">
					<h2 class="d-block mb-0 font-weight-light text-white">
						<a href="/contact" class="text-white d-block">Contact us for quotations</a>
					</h2>
				</div>
			</div>

			<%- include('partials/footer.ejs') %>
		</div>
		<%- include('partials/emailscripts.ejs') %>
		<%- include('partials/scripts.ejs') %>
	</body>
</html>
