<!DOCTYPE html>
<html lang="en">
	<%- include('partials/meta.ejs') %>
	<body>
		<div class="site-wrap">
			<%- include('partials/nav.ejs') %>
			<!--  -->
			<%- include('partials/hero.ejs') %>
			<!--  -->
			<%- include('partials/count.ejs') %>
			<!--  -->
			<%- include('partials/specialties.ejs') %>
			<!--  -->
			<%- include('partials/features.ejs') %>
			<!--  -->
			<%- include('partials/testimonials.ejs') %>
			<!--  -->
			<%- include('partials/ctc.ejs') %>
			<!--  -->
			<%- include('partials/footer.ejs') %>
		</div>
		<%- include('partials/scripts.ejs') %>
	</body>
</html>
